html
    head
        title Images
        link(type='text/css' href='/style.css' rel='stylesheet')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    body
        each image in images
            div.images
                img(src=image.image+'.png')
