html
    head
        title Index
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(type='text/css' href='/style.css' rel='stylesheet')
    body
        div.camContainer
            div.camera
                video#video Stream is not available
                button#startbutton Take a photo
            canvas#canvas

        script(src='video.js')
