html
    head
        title Index
        meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
        meta(name="mobile-web-app-capable", content="yes")
        link(type='text/css' href='/style.css' rel='stylesheet')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    body
        div.one
            div.header
                p verkeerdbezorgd.nl
                p.Info_Icon
                img(src='VerkeerdBezorgd/Assets/Info_Icon.svg' id='info')
            div.body
                p Ook last van ongewenste reclame in je brievenbus? Maak er melding van! Samen met je stadsgenoten gaan we er iets aan doen!
            div.footer
                p Meld!
                img(src='VerkeerdBezorgd/Assets/Arrow_Icon.svg' id='snitch')
        div.two
            div.camera
                    video(id='video' height='280' width='320' autoplay playsinline) Stream is not available
                    button#clickPhoto Snap        
        div.three
            div.displayOutput
                canvas(id='canvas' height='280' width='320')
                button#takeAgain Neem foto opnieuw
            div.okay
                    form(method='POST' action='/addmessage')
                        p Vul hier de naam van de adverteerder in.
                        input#uplo(name='title' type='text' placeholder='Naam adverteerder')
                        p Vul hier je postcode in.*
                        input#postco(name='postcode' type='text' placeholder='Postcode')
                        p Laat hier je e-mail adres achter als je op de hoogte gehouden wil worden van je melding.
                        input#email(name='email' type='text' placeholder='E-mail adres')
                        button#meld Meld!
        div.four
            div.upper
                h3 Wat is Verkeerdbezorgd.nl?

                p Verkeerdbezorgd.nl is een initiatief van de gemeente Amsterdam en de Reclame Code Commissie. Samen met Amsterdammers gaan we ongewenste reclame te lijf. Heb jij ook zo vaak last van ongewenste reclame? Maak er hier melding van!
                
                p Zijn je buren ook slachtoffer geworden? Als we genoeg meldingen krijgen kan de gemeente Amsterdam een vuist maken tegen de distributeurs van reclamefolders
            div.footnote
                div#text
                    h3 In samenwerking met:
                div.logos
                    img(src='VerkeerdBezorgd/Assets/Gemeente_Logo.png')
                    img(src='VerkeerdBezorgd/Assets/RCC_Logo.jpg')
            
        script(src='video.js')
        script(src='/js/adapter-latest.js')
        script(src='/js/common.js')
        
        script.
            $(document).ready(function() {
                $("#info").click(function(){
                    $('html,body').animate({scrollTop: $('.four').offset().top},'slow')
                })
                
                $("#snitch").click(function(){
                    $('html,body').animate({scrollTop: $('.two').offset().top},'slow')
                })
                
                $("#clickPhoto").click(function(){
                    $('html,body').animate({scrollTop: $('.three').offset().top},'slow')
                })
                
                $("#takeAgain").click(function(){
                    $('html,body').animate({scrollTop: $('.two').offset().top},'slow')
                })
            })

style.

    html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }

    .one {
    height: 100vh;
    width: 100%;
    background-image: url('VerkeerdBezorgd/Assets/uxlife.png');
    background-repeat: no-repeat;
    background-size: cover;
    }

    .header {
    width: 100%;
    height: 10vh;
    display: block;
    }

    .header p {
    color: #E93700;
    text-align: center;
    padding: 10 0;
    font-weight: bold;
    font-size: 12px;
    font-family: Futura;
    }

    .header img {
    position: absolute;
    top: 10;
    right: 10;
    }

    .body {
    width: 80%;
    font-family: Futura;
    font-weight: bold;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 10%;
    }

    .footer {
    width: 100%;
    height: 10vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    }

    .footer p {
    color: #E93700;
    text-align: center;
    padding: 10 0;
    font-weight: bold;
    margin: 0 auto;
    font-family: Futura;
    }

    .footer img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    }

    .two {
    position: relative;
    height: 100vh;
    background-image: url('VerkeerdBezorgd/Assets/uxlife.png');
    background-repeat: no-repeat;
    background-size: cover;
    }

    .camera {
    box-shadow: 2px 10px 40px black inset;
    position: absolute;
    top: 12%;
    left: 7%;
    }

    .camera video {
    margin: 30 auto;
    }

    .camera button {
    display: block;
    margin: 20 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    padding: 15px 5px;
    border: 2px solid black;
    border-radius: 50px 20px;
    background-color: rgba(128,128,128,0.4);
    background: -o-linear-gradient(top, rgba(148,172,181,1) 0%,rgba(23,86,127,1) 100%);
    -moz-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), 
    2px 3px 3px rgba(0,0,0,0.2), 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,1); 
    -webkit-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), 
    2px 3px 3px rgba(0,0,0,0.2), 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,1); 
    box-shadow: 0px -1px 3px rgba(190,255,255,0.5), 
    2px 3px 3px rgba(0,0,0,0.2), 
    inset 0 -1px 1px rgba(0,0,0,0.5), 
    inset 0 1px 1px rgba(255,255,255,1);
    }
    
    .three {
    height: 100vh;
    position: relative;
    background-color: white;
    border: 1px solid magenta;
    font-family: Futura;
    }

    .displayOutput {
    position: absolute;
    }
    
    .okay {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 7%;
    width: 80%;
    }

    .okay p {
    font-size: 12px;
    }

    .okay input {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10 auto;
    padding: 5px 5px 5px 40px;
    position: relative;
    margin: auto;
    }

    #uplo {
    background-image: url('VerkeerdBezorgd/Assets/Company_Icon.png');
    background-repeat: no-repeat;
    background-position: left;
    }

    #postco {
    background-image: url('VerkeerdBezorgd/Assets/Place_Icon.png');
    background-repeat: no-repeat;
    background-position: left;
    }

    #email {
    background-image: url('VerkeerdBezorgd/Assets/at-sign-icon-17.png');
    background-repeat: no-repeat;
    background-position: left;
    }

    .okay #meld {
    width: 30vw;
    color: white;
    padding: 15px 45px 15px 45px;
    text-align: center;
    background-color: #EA0000;
    border-radius: 10px;
    font-size: 18px;
    font-family: Futura;
    margin: 40 auto;
    }
    
    .four {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('VerkeerdBezorgd/Assets/uxlife.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    font-family: Futura;
    }

    .upper {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    }

    .upper h3 {
    text-align: center;
    }

    .upper p {
    text-align: left;
    font-size: 12px;
    }

    .footnote {
    background-color: white;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    }

    #text {
    text-align: center;
    }

    .logos {
    display: inline-block;
    }

    .logos img {
    display: inline-block;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
    }
