html
	head
		title Index
		meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
		meta(name="mobile-web-app-capable", content="yes")
		link(type='text/css' href='/style.css' rel='stylesheet')
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	body
		div.one
			div.header
				p melding<span style="color: #E93700">.</span>amsterdam
			div.body
				h3 Melding geslaagd.

				p Dank je wel voor je melding. Nu kunnen we in kaart brengen waar de grootste problemen zijn.
	
				p Als je je e-mail achter gelaten hebt zou het kunnen dat we contact met je opnemen voor meer informatie.



style.
	html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	}
	
	@font-face {
	font-family: cocogoose;
	src: url('VerkeerdBezorgd/Assets/Cocogoose Pro-trial.ttf');
	}
	
	.one {
	height: 100vh;
	width: 100%;
	background-image: url('VerkeerdBezorgd/Assets/BG2@3x.png');
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	h3 {
	color: #E93700;
	text-align: center;
	padding: 10 0;
	font-weight: bold;
	margin: 0 auto;
	font-family: cocogoose;
	}
	
	.header {
	width: 100%;
	height: 10vh;
	display: block;
	}

	.header p {	
	color: #FFFFFF;
	padding: 25 30;
	font-size: 20px;
	line-height: 29px;
	font-family: cocogoose;
	text-shadow: 2px 2px #000000;
	}
	
	.header img {
	position: absolute;
	top: 10;
	right: 10;
	}
	
	.body {
	color: #FFFFFF;
	width: 80%;
	font-family: Futura;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 30%;
	left: 10%;
	}

	.body p {
	margin: 10 auto;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 15px;
	font-family: cocogoose;
	text-shadow: 2px 2px #000000;
	}
	
	a {
	text-decoration: none;
	color: #E93700;
	}
