html
	head
		title Index
		meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
		meta(name="mobile-web-app-capable", content="yes")
		link(type='text/css' href='/style.css' rel='stylesheet')
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	body
		div.one
			div.header
				p verkeerdbezorgd.nl
				img(src='VerkeerdBezorgd/Assets/Info_Icon.svg')

			div.body
				h3 Melding geslaagd.

				p Dank je wel voor je melding. Nu kunnen we in kaart brengen waar de grootste problemen zijn.
	
				p Als je je e-mail achter gelaten hebt zou het kunnen dat we contact met je opnemen voor meer informatie.

			div.footer
				p Meld!
				img(src='VerkeerdBezorgd/Assets/Arrow_Icon.svg')


style.

	html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	}

	.one {
	height: 100vh;
	width: 100%;
	background-image: url('VerkeerdBezorgd/Assets/uxlife.png');
	background-repeat: no-repeat;
	background-size: cover;
	}

	.header {
	width: 100%;
	height: 10vh;
	display: block;
	}

	.header p {
	color: #E93700;
	text-align: center;
	padding: 10 0;
	font-weight: bold;
	font-size: 12px;
	font-family: Futura;
	}

	.header img {
	position: absolute;
	top: 10;
	right: 10;
	}

	.body {
	width: 80%;
	font-family: Futura;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 30%;
	left: 10%;
	}

	.body p {
	text-align: left;
	font-size: 12px;
	}

	.footer {
	width: 100%;
	height: 10vh;
	background-color: white;
	position: absolute;
	bottom: 0;
	}

	.footer p {
	color: #E93700;
	text-align: center;
	padding: 10 0;
	font-weight: bold;
	margin: 0 auto;
	font-family: Futura;
	}

	.footer img {
	display: block;
	margin: auto;
	padding-bottom: 10px;
	}